name: Java CI

on:
  push:
    branches:
      - master
      - 'release/*'
  pull_request:
    branches:
      - master
      - 'release/*'

jobs:
  build-dmn-check:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Build with Maven
        run: mvn clean install jacoco:report -P checkerframework
      - uses: codecov/codecov-action@v2.1.0
        with:
          file: ./**/target/site/jacoco/jacoco.xml
          name: codecov


  build-gradle-plugin:
    runs-on: ubuntu-latest
    needs: build-dmn-check
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
          cache: maven
      - name: Build with Gradle
        run: cd gradle-plugin && ./gradlew build