name: JIB container publish

on:
  push:
    branches:
      - master
  release:
    types: [ created ]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: JIB container build and publish
        uses: pSub/jib-container-publish.yml@d17484db0ed18b01f03148021672496d5ea8187e # main
        with:
          PASSWORD: ${{ secrets.GITHUB_TOKEN }}
          java-version: 21
          java-distribution: temurin
          module: cli
          main-class: de.redsix.dmncheck.cli.Main